/*CSS styling for the blue i tooltip */
.header {
  outline: 1px solid red;
  background: #fff;
  padding: 1rem;

  position: sticky;
  top: 0;
}

.tooltip {
	position: absolute;
	text-align: center;
	width: 15em;
	height: 2em;
	padding: 1px;
	font: 12px sans-serif;
	background: lightsteelblue;
	border: 0px;
	cursor: pointer;
}

.popover {
	min-width: 500px;
}

/* Sliders and controls for result graphs ("Hydropathy cutoff" and the like) */
.result-controls {
	background-color: white;
	padding: 1em;
	z-index: 100;
	display: inline-block;
}

@media not print {
	.result-controls {
		position: sticky;
		top: 0;
	}
}

td > div {
  position: relative;
  width:50%;
  height: 5%;
  border-right: 1px solid #ccc;
  bottom: 10px;
}

.residue-label {
  position: absolute;
  font-size: 12px;
}

/*CSS styling for the top slider*/
.myslider1 {
	-webkit-appearance: none;
	/* Override default CSS styles */
	appearance: none;
	width: 50%;
	/* Full-width */
	height: 20px;
	/* Specified height */
	background: #d3d3d3;
	/* Grey background */
	outline: none;
	/* Remove outline */
	opacity: 0.7;
	/* Set transparency (for mouse-over effects on hover) */
	-webkit-transition: .2s;
	/* 0.2 seconds transition on hover */
	transition: opacity .2s;

}

/*CSS styling for the top slider button*/
.myslider1::-webkit-slider-thumb {
	-webkit-appearance: none;
	cursor: pointer;
	background: #007BFF;
	border-radius: 20px;
	width: 20px;
	height: 20px;
}

.myslider1:hover {
	opacity: 2.0;
}

/*CSS styling for the bottom slider*/
.myslider2 {
	-webkit-appearance: none;
	/* Override default CSS styles */
	appearance: none;
	width: 50%;
	/* Full-width */
	height: 20px;
	/* Specified height */
	background: #d3d3d3;
	/* Grey background */
	outline: none;
	/* Remove outline */
	opacity: 0.7;
	/* Set transparency (for mouse-over effects on hover) */
	-webkit-transition: .2s;
	/* 0.2 seconds transition on hover */
	transition: opacity .2s;
}

/*CSS styling for the bottom slider button*/
.myslider2::-webkit-slider-thumb {
	-webkit-appearance: none;
	cursor: pointer;
	background: #007BFF;
	border-radius: 20px;
	width: 20px;
	height: 20px;
}

.myslider2:hover {
	opacity: 2.0;
}

}
