<script defer type="text/javascript" src="static/change_id.js"></script>

<div class="tab-pane container" id="home">
    <div class="container-fluid">
        <div class="row">
            <!--form-->
            <br>
            <p><b>Select input method: </b>
            <select name="sequence_type" id="sequence_type" onchange="hideDiv(this)">
                <option value="id_entry">ID Entry</option>
                <option value="sequence_entry">Manual Entry</option>
                <option value="pdb_entry">PDB Entry</option></select></p></centering>

            <div class="form-group" align="center">
                <br>
                <form class="navbar-form navbar-top" method=post target="_blank" action="" id="id_entry_block">
                    <p>Enter an ID for your protein.</p>
                    <p>Note: only human proteins will display disease-associated mutations, and will take longer to load. </p>
                    <label for="input-types">Choose an input type:</label>
                    <select name="input_type" id="input_type">
                        <option value="uniprot_id">UniProt ID</option>
                        <option value="ensembl_id">Ensembl ID</option></select>
                    <!--form.uniprot_id calls the UniProt ID field in model_2.py -->
                    <p> {{ form.uniprot_id(class_="form-control", rows="1")}}</p>
                    <p><input type=submit name="action_u" class="btn btn-primary" value="Blobulate!"></p>
                </form>
                </div>
            <div class="form-group" align="center">
                <form class="navbar-form navbar-top" method=post target="_blank" action="" id="manual_entry_block" style="display: none">
                    <!--Creating box for protein sequence input, and placing explanation text above-->
                    <p> Input the protein sequence directly. </p>
                    <p> Note: Disease-associated SNPs and disorder prediction are based on UniProt annotation and will not be displayed with this option. </p>
                    <p class="text-monospace"> {{ form.aa_sequence(class_="form-control", rows="4")}}</p>
                    <p> Enter a name for this sequence (optional):</p>
                    <p> {{ form.seq_name(class_="form-control", rows="1")}} </p>
                    <p><input type=submit name="action_s" class="btn btn-primary" value="Blobulate!"></p>
                </form>
            </div>
             <div class="form-group" align="center">
                <form class="navbar-form navbar-top" method="post" target="_blank" enctype="multipart/form-data" action="" id="pdb_entry_block" style="display: none">
                    <h5 class="text-center"> <b>Option 3: PDB Entry</b> </h5>
                    <br>
                    <!--Creating box for protein sequence input, and placing explanation text above-->
                    <p> Upload a PDB File. </p>
                    <p>Warning: Blobulation of PDB files containing multiple chains with disparate sequences is not currently supported.</p>
                    <p> Note: Disease-associated SNPs and disorder prediction are based on UniProt annotation and will not be displayed with this option. </p>
                    <p> <input id="pdb_file" name="pdb_file" type="file" accept=".pdb"> </p>
                    <p id="chain_name"></p>
                    <p><input type=submit name="action_p" class="btn btn-primary" value="Blobulate!"></p></br>
                </form>
            </div>
        </div>
    </div>
</div>

<!--About Page Contents-->
<div class="tab-pane fade" id="about">
    <h4 class="mt-2">Welcome to the Blobulator</h4>
    <p>Blobulation is an approach for detecting hydrophobic modularity in protein sequences based on contiguous hydrophobicity, <a href="https://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1007390" target="_blank"> originally developed </a> by the <a href="https://branniganlab.org/" target="_blank"> Brannigan Lab </a> for aiding in analyzing residue contacts in molecular dynamics (MD) simulations of a long intrinsically disordered protein (the BDNF prodomain). The blobulator allows the user to blobulate any sequence, and visualize the results while adjusting the two tunable parameters to detect blobs found at varying resolutions.</p>
    <img src="/static/blobulation.png" width="600" align="center">
    <p>The figure above shows an overview of the blobulation algorithm. It consists of two steps - digitization and clustering. In the digitization step, residues are classified as either hydrophobic (blue) or non-hydrophobic (orange) by comparing their hydropathy to the user-selected threshold, H*. Next, the sequence is segmented: all segments containing only hydrophobic residues longer than L<sub>min</sub> are h-blobs (blue), other segments longer than L<sub>min</sub> are p-blobs (orange), and segments shorter than L<sub>min</sub> and non-hydrophobic are s-blobs (green). Figure adapted from  <a href="https://www.pnas.org/doi/10.1073/pnas.2116267119" target="_blank">Lohia et al. 2022</a>.</p>
    <p>In addition to outputting a visualization of the blobulated sequence, the blobulator also outputs several tracks showing blobs overlaid with additional information including: net charge, globular tendency (Das-Pappu phase), distance from the Uversky boundary, and sensitivity to mutation. These properties are also dynamically adjusted as the user increases or decreases resolution of the sequence. For human proteins, users will also see the location of known disease-associated single nucleotide polymorphisms (SNPs). </p>
    <p>For bug reports, feature requests, or anything else - please contact at connor.pitman@rutgers.edu or grace.brannigan@rutgers.edu, or post an issue on our <a href="https://github.com/BranniganLab/blobulator" target="_blank"> GitHub. </a></p>
    <br>Citing the Blobulator<br> <p>A manuscript on the Blobulator is currently under review. For now, please cite: <a href="https://www.biorxiv.org/content/10.1101/2024.01.15.575761v1" target="_blank"> Connor Pitman, Ezry Santiago-McRae, Ruchi Lohia, Kaitlin Bassi, Thomas T. Joseph, Matthew E.B. Hansen, Grace Brannigan, “The blobulator: a webtool for identification and visual exploration of hydrophobic modularity in protein sequences.” bioRxiv. 2024.</a> </p>

</div>
<!--Documentation Page Contents - styled as accordion panels-->
<div class="tab-pane fade" id="documentation">
    <h4 class="mt-2">Sequence Input</h4>
    <p> The first thing needed to use the blobulator is either a UniProt ID for a protein of interest, or a manual sequence entry. UniProt IDs are our recommended format for retrieving the sequence required for blobulation. Above each “compute button” there is a manual text entry box, in which the you insert either your sequence or ID. Then press the “Compute” button. </p>
    <h4 class="mt-2">Visualization</h4>
    <p> On the blobulation output page, there are three adjustable parameters: </p>
    <button class="accordion"> &#10133 Adjusting Hydropathy Cutoff</button>
    <div class="panel">
    <p>The first step of blobulation is digitization. The algorithm first calculates each residue's hydrophobicity on the selected scale and then smooths this over the hydrophobicity of the adjacent residues. Residues are then digitized to hydrophobic or non-hydrophobic based on their smoothed hydropathy's relation to the hydropathy cutoff (shown as grey bars in the first track). This cutoff (shown as a blue line in the first track) can be adjusted by manual entry into the text box to the left, by adjusting the slider to the desired value, or by clicking a residue letter (found above the slider) to set the cutoff to a given amino acid's hydrophobicity on the selected scale.</p>
    </div>
    <button class="accordion"> &#10133 Adjusting Minimum Blob Size</button>
    <div class="panel">
    <p>This setting establishes a threshold for how many residues constitute blob. If a group of contiguous residues over the minimum blob size individually have smoothed hydrophobicities above the value for hydrophobicity cutoff, the cluster will be considered a ‘h’ (hydrophobic) blob. If not, a group will be considered a ‘p’ (non-hydrophobic) blob if the length is above the minimum blob size, or an 's' (short) blob if the length is below the minimum blob size. The hydropathy cutoff can be adjusted by manual entry into the text box to the left, or by adjusting the slider to the desired value.</p>
    </div>
    <button class="accordion"> &#10133 Mutating Residues</button>
    <div class="panel">
    <p>This option is used to change a residue within the sequence, and see what potential effects it would have on the blobulation output. To mutate a residue, select which residue you would like to mutate, choose the amino acid you would like to mutate the residue into, and click the checkbox. Alternatively, the user can select one of the known disease associated single nucleotide polymorphism by clicking on a black triangle found at the bottom of each track. These will only appear if a UniProt ID is used.</p>
    </div>
    <br> <br>

    <h4 class="mt-2">SNPs and Mutations</h4>
    <button class="accordion"> &#10133 Visualizing SNPs</button>
    <div class="panel">
    <p>Known disease-associated mutations are shown by the black triangles. Hovering over these mutations will display the amino acid change caused by them, as well as a clickable reference SNP cluster ID.</p>
    </div>
    <br> <br>

    
    <h4 class="mt-2">Interpreting Plots</h4>
    <p>After blobulation, multiple visualizations are produced. </p>

    <button class="accordion">&#10133 Smoothed hydropathy per residue</button>
    <div class="panel">
    <p>This plot shows the smoothed hydropathy per residue. The core of blobulation consists of two parameters - the first being a hydropathy threshold. This threshold is shown by the blue line on the “mean hydropathy” axis. This line shows the hydropathy threshold (shown by a blue line), which determines the boundaries of the h and p blobs. Note that this graph is the only one that shows the residues individually, and can be used as a reference to how the residues are grouped together based upon their position above or below the blue line. If a group of contiguous residues over the minimum blob size individually have smoothed hydrophobicities above the value for hydrophobicity cutoff, the cluster will be considered a ‘h’ (hydrophobic) blob. If not, a group will be considered a ‘p’ (non-hydrophobic) blob if the length is above the minimum blob size, or an 's' (short) blob if the length is below the minimum blob size.</p>
    </div>
    <button class="accordion">&#10133 Blobs according to globular tendency</button>
    <div class="panel">
    <p>This second outputted visualization shows the blobs colored according to their globular tendency based on their <a href="https://www.pnas.org/content/early/2013/07/29/1304749110" target="_blank"> Das-Pappu </a> classification. The Das-Pappu phase diagram was originally used to estimate how a disordered sequence might behave based on the charge content. Each blob is colored according to the region they fall in Das-Pappu phase diagram. Specifically, these are: globular, Janus/boundary, strong polyelectrolyte, strong polyanion, and strong polycation. The height of each bar corresponds to their identity of either a "p" "h" or "s" blob. </p>
    </div>
    <button class="accordion">&#10133 Blobs according to net charge per residue</button>
    <div class="panel">
    <p>This third outputted visualization shows the blobs according to their residues’ collective average charge. Each blob is evaluated based on its fraction of both positively and negatively charged residues. The darker blue a blob is shown here, the higher the fraction of positively charged residues are present within the blob. Alternatively, the darker red a blob is shown here, the higher the fraction of negatively charged residues are present within the blob. An even fraction of positive or negatively charged residues, or a low fraction of any charged residues results in a grey color.</p>
    </div>
    <button class="accordion">&#10133 Blobs colored according to Uversky diagram</button>
    <div class="panel">
    <p>This fourth outputted visualization shows the blobs according to their positions on the <a href="https://pubmed.ncbi.nlm.nih.gov/11025552/" target="_blank"> Uversky diagram </a>, where the line between ordered and disordered is plotted. Calculated negative values (represented in orange) are more ordered and positive values (shown in blue) are more disordered.</p>
    </div>
    <button class="accordion">&#10133 Blobs colored according to dSNP enrichment</button>
    <div class="panel">
    <p>This fifth outputted visualization shows the blobs according to their enrichment in documented disease associated SNPs (dSNP). This idea was investigated in the context of aggregating and non-aggregating proteins at various blob lengths and hydrophobicity cutoffs in our <a href="https://www.pnas.org/doi/10.1073/pnas.2116267119" target="blank">recent publication</a>, from which the figure below is presented (Lohia, et al 2022).</p>
    </div>
    <button class="accordion">&#10133 Blobs colored according to fraction of disordered residues</button>
    <div class="panel">
    <p>This sixth and final outputted visualization shows the blobs according to their predicted fraction of disordered residues, which utilizes the <a href="https://academic.oup.com/nar/article/41/D1/D508/1069637" target="_blank">Database of Disordered protein prediction </a>. This disorder calculation is only available if the user uses the UniProt ID.</p>
    </div>

    <h4 class="mt-2">Saving Data</h4>
    <button class="accordion">&#10133 Downloading Data</button>
    <div class="panel">
    <p>After the “Download data!” button (located just below the three adjustable parameters) is pressed, the raw data used to generate the tracks will be downloaded in the form of a csv file. Each column corresponds to one of the following: residue name, residue number, window, hydropathy cutoff, minimum blob size, average hydrophobicity, blob type, blob index number, blob Das-Pappu classification, blob net charge per residue, fraction of positively charged residues, fraction of negatively charged residues, fraction of charged residues, Uversky diagram score, blob dSNP enrichment, and blob disorder score.</p>
    </div>

</div>

<!--Frequently asked questions tabs, also styled as accordion panels-->
<div class="tab-pane fade" id="FAQ">
    <h4 class="mt-2">Frequently Asked Questions:</h4>

    <button class="accordion">&#10133 Why do you call them blobs?</button>
    <div class="panel">
    <p>The nomenclature used here comes from polymer physics (<a href="https://pubs.acs.org/doi/10.1021/ma60051a002" target="_blank">Pincus, 1976</a>; de Gennes, 1979): a blob is a group of sequential monomers in a polymer chain that "clump" with a characteristic length. For more information see <i>Scaling Concepts in Polymer Physics</i> by Pierre-Gilles de Gennes. </p>
    </div>
    <button class="accordion">&#10133 What defines a blob in a protein?</button>
    <div class="panel">
    <p>Blobs here are determined by defining clusters of contiguously hydrophobic residues, and the non-hydrophobic residues that span between them. A blob is a contiguous stretch of either hydrophobic or non-hydrophobic residues greater than (or below) a certain length. </p>
    </div>
    <button class="accordion">&#10133 What is the evidence that blobulation is useful?</button>
    <div class="panel">
    <p>While many analyses exist that consider charge, disorder, or conformational states of proteins, the blobulator considers hydrophobicity and its role in the determination of regions of a protein. <a href="https://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1007390" target="_blank"> This has been shown already to be a powerful tool for analysis of different domains of the BDNF protein </a>, the research within which this tool was developed. Additionally, our <a href="https://www.pnas.org/doi/10.1073/pnas.2116267119" target="_blank"> recent publication </a> has demonstrated other contexts in which the blobulator has proven useful, particularly with regard to disease-associated SNPs.</p>
    </div>
    <button class="accordion">&#10133 What does the blobulator output?</button>
    <div class="panel">
    <p>The blobulator outputs 6 tracks showing blobs overlaid with additional information. Each graph shows the sequence of the protein displayed in one of the following ways: smoothed hydropathy per residue, colored according to globular tendency, colored according to net charge per residue, colored according to the Uversky diagram, colored according to dSNP enrichment, colored according to fraction of disordered residue.</p>
    </div>
    <button class="accordion">&#10133 Do you recommend using the manual sequence entry option, or the UniProt ID option for input?</button>
    <div class="panel">
    <p>We strongly recommend using the UniProt ID option when available. There will be more graphs outputted, as well as SNP data available if you blobulate the protein using its UniProt ID. If you are interested in a specific variant of the protein, such as one containing a SNP, there is a mutate residue option at the top of the output page. </p>
    </div>
    <button class="accordion">&#10133 The blobulator buffers for a long time after I press compute - is this normal?</button>
    <div class="panel">
    <p>For smaller proteins, we expect blobulation to take seconds. For very large proteins, the blobulator may take over a minute to produce a result.</p>
    </div>
    <button class="accordion">&#10133 I want to focus on one portion of my protein - is there any way to zoom in?</button>
    <div class="panel">
    <p>To zoom in, hover your mouse over the plot you're interested in and click and drag around the area you wish to zoom in on. To revert the plot back to it's original zoomed-out state, double click on the plot.</p>
    </div>
    <button class="accordion">&#10133 What are the letters above the "hydropathy cutoff" slider?</button>
    <div class="panel">
    <p>These letters represent amino acids. Clicking a letter will set the hydropathy cutoff to the hydrophobicity of the selected amino acid for the chosen scale.</p>
    </div>
    <button class="accordion">&#10133 Can I download the plots?</button>
    <div class="panel">
    <p>Yes! We recommend saving the page as a .pdf file using the “print” function in your browser.</p>
    </div>
    <button class="accordion">&#10133 How do I access the data used to generate the plots?</button>
    <div class="panel">
    <p>The data can be downloaded using the “Download data!” button at the top of the blobulator output page. The downloaded data will be in the form of the csv file with labeled columns, which can be used to generate custom graphs or retrieve specific values.</p>
    </div>
    <button class="accordion">&#10133 Will the downloaded data change if I change the hydropathy cutoff or blob side using the sliders?</button>
    <div class="panel">
    <p>Yes. Any adjustments made after blobulation but before the “Download data!” button is clicked will be reflected in the csv file.</p>
    </div>
    <button class="accordion">&#10133 Why am I not seeing SNP data?</button>
    <div class="panel">
    <p>It is possible that you chose the manual sequence entry option, for which there will be no SNP data, or that there is no data in EMBL-EBI for your protein of interest. It is also possible that you are not blobulating a human protein. In any of these cases, it doesn’t necessarily mean that no SNP data exists for the protein you are blobulating.</p>
    </div>
    <button class="accordion">&#10133 Why aren’t the Blobs colored according to fraction of disordered residue graph not showing up on my output page?</button>
    <div class="panel">
    <p>Check and make sure you chose the UniProt ID input option.</p>
    </div>
    <button class="accordion">&#10133 I would really like to see a certain feature in the next version.</button>
    <div class="panel">
    <p>Please contact us and let us know what you’re thinking. Our goal is to maximize the blobulator’s usefulness, and any suggestions are greatly appreciated. In the meantime, the local version of the blobulator, which can be found on our <a href="https://github.com/BranniganLab/blobulator" target="_blank"> github</a>, can be modified to your liking.</p>
    </div>
    <button class="accordion">&#10133 Is there back end code available for this tool?</button>
    <div class="panel">
    <p> Yes! It can be found on our <a href="https://github.com/BranniganLab/blobulator" target="_blank"> github</a>.</p>
    </div>
    <button class="accordion">&#10133 I would like to customize something specific within the blobulator.</button>
    <div class="panel">
    <p> We recommend using our back end code found on our <a href="https://github.com/BranniganLab/blobulator" target="_blank"> GitHub</a>. If you think a specific feature would be generally useful, please email us at connor.pitman@rutgers.edu or grace.brannigan@rutgers.edu.</p>
    </div>
</div>

<script>
    function deletePDB() {
        if (localStorage.getItem("pdb_file") !== null) {
            localStorage.clear()
        }
    }

    function acceptPDB(pdbAcceptingElement) {
        var formData = new FormData(pdbAcceptingElement);
        const file = formData.get('pdb_file');
        if (file) {
            const fileReader = new FileReader();
            fileReader.onload = () => {
                const fileContent = fileReader.result;
                localStorage.setItem("pdb_file", fileContent);

                // The replace() call is for \r\n from DOS/Windows files
				const lines = fileContent.replace(/\r/g, '').split('\n');
				let chains = new Set();
				for(const line of lines) {
					if(line.startsWith('ATOM')) {
						// We use a magic number here because that is how Protein Data Bank defines it
						chains.add(line[21].trim());
					}
				}
                let s = '<label for="chain_select">Select chain:</label> <select name="chain_select" id="chain_select">';
                // s += '<option value="">All chains</option>';
                for(const chain of chains) {
                    s += `<option value="${chain}">${chain}</option>`;
                }
                s += '</select>';
                document.getElementById('chain_name').innerHTML = s;

            };
			fileReader.onerror = (e) => {
				console.log('TOM: error reading file', file);
                document.getElementById('chain_name').innerHTML = '';
			}
            fileReader.readAsText(file);
        }
    }
    document.getElementById("pdb_file").onchange = function() {
        deletePDB();
        const form = document.getElementById("pdb_entry_block");
        acceptPDB(form);
    }
    export { acceptPDB };
</script>

<style>
    .row {
        margin: auto;
        width: 75% 
    }
</style>
